*.swp
.DS_Store
.vscode/
__pycache__/
scripts/record_data/*.json
scripts/hardware_layer/analye_joint/*
scripts/controller_layer/analy_arm/*
scripts/controller_layer/analy_right_arm/*
scripts/controller_layer/analy_leaphand_controller/*
scripts/o6_test/analy_o6_hand/*
# Ignore build artifacts
build/
install/
log/
scripts/ik_reachability/20260410/*
scripts/controller_layer/lpf/csv/*
scripts/controller_layer/lpf/img/*
